body {
  position: relative;
  font-family: var(--ff--primary);
  font-size: var(--fs--regular);
  background-color: var(--clr--white);
  color: var(--clr--very-dark-blue);
}

.background-wrapper {
  position: fixed;
  background-color: var(--clr--very-dark-blue);
  opacity: 0.6;
  inset: 0;
  left: 60%;
  z-index: 3;
  transition: all 400ms ease-in;
  animation-fill-mode: forwards;

  @media (min-width: 700px) {
    display: none;
  }
}

.background-wrapper2 {
  display: none;
  @media (min-width: 700px) {
    display: block;
    position: fixed;
    background-color: var(--clr--very-dark-blue);
    opacity: 0.8;
    inset: 0;
    z-index: 3;
    /*   transition: all 400ms ease-in;
  animation-fill-mode: forwards; */
  }
}

.toast-box {
  display: grid;
  gap: 1rem;
  z-index: 5;
  background-color: var(--clr--white);
  position: absolute;
  width: 250px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;

  .toast-notification {
    position: relative;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    p {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      font-weight: var(--fw--bold2);
      i {
        font-size: 1rem;
        margin-right: 0.5rem;

        &.success {
          color: green;
        }
        &.error {
          color: red;
        }
      }
    }
    &.success::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 5px;
      width: 100%;
      background-color: green;
      animation: anim 5s linear forwards;
    }
    &.error::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 5px;
      width: 100%;
      background-color: red;
      animation: anim 4s linear forwards;
    }

    @keyframes anim {
      100% {
        width: 0;
      }
    }
  }
  @media (min-width: 700px) {
    position: absolute;
    left: auto;
    top: auto;
    width: 400px;
    right: 20px;
    bottom: 0;
    .toast-notification {
      p {
        font-size: 1rem;
      }
      i {
        font-size: 2rem;
      }
    }
  }
}
