.content {
  .header {
    display: flex;
    justify-content: space-between;

    &__main {
      display: flex;
      gap: 1rem;
      align-items: center;

      margin: 1.5rem;
      &_logo {
        order: 2;
        font-size: 2rem;
        margin-top: -10px;
      }

      &_ham-menu {
        cursor: pointer;

        position: relative;
        width: 20px;
        height: 20px;
        margin-left: auto;

        span {
          position: absolute;
          height: 3px;
          width: 100%;
          background-color: var(--clr--darl-grayish-blue);
          border-radius: 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s ease-in-out;

          &:nth-child(1) {
            top: 25%;
          }
          &:nth-child(3) {
            top: 75%;
          }
        }

        &.active span:nth-child(1) {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &.active span:nth-child(2) {
          opacity: 0;
        }

        &.active span:nth-child(3) {
          top: 50%;
          transform: translate(-51%, -31%) rotate(-47deg);
        }
      }
      &_navbar {
        order: 1;
        background-color: var(--clr--white);
        height: 100%;
        position: fixed;
        top: 0;
        left: -60%;
        width: 60%;
        transition: 0.3s ease;

        img {
          margin-top: 1rem;
          margin-bottom: 3rem;
          margin-left: 1rem;
        }

        ul {
          display: grid;
          gap: 1rem;
          margin-left: 1rem;
          li {
            color: var(--clr--very-dark-blue);
            font-weight: var(--fw--bold2);
          }
        }
        &.active {
          left: 0;
        }
      }
    }

    &__profile {
      display: flex;
      &_cart {
        width: 28px;
        height: 28px;
      }
      &_avatar {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }
  }
}
